* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


header .container {
    display: flex;
    justify-content: space-between;
}

header .container img {
    width: 120px;
    height: 34px;
    margin-top: 25px;
    margin-left: 30px;
}

header .container nav {
    margin-right: 40px;
}

header .container nav .ul-list {
    display: flex;
    justify-content: space-around;
}

header .container nav .ul-list .li-list {
    margin-left: 20px;
    margin-top: 40px;
    font-family: "ROBOTO";
    font-weight: 500;
    font-size: 20px;
}

header .container nav .ul-list .li-list a {
    color: black;
    margin-left: 20px;
}

header .container .wrap {
    margin-top: 29px;
    margin-right: 50px;
}

header .container .wrap i {
    margin-right: 10px;
    width: 25px;
    height: 20px;
    margin-top: 5px;
}

header .container .wrap button {
    margin-right: 40px;
    border: 1px solid black;
    width: 120px;
    height: 40px;
    background-color: #494949;
    border-radius: 25px;
}

header .container .wrap button a {
    color: white;
}

header .item .img1 {
    margin-left: 200px;
}

header .item .box {

    display: flex;
}


.box .text-left{
    grid-area: text-left;
}
.box img{
    grid-area: img;
}

header .item .box .text-left {
    margin-top: 150px;
}

header .item .box .text-left h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 55px;
    line-height: 95px;
    margin-left: 100px;
}

header .item .box .text-left h2 span {
    color: rgba(24, 190, 24, 0.926);
}

header .item .box .text-left p {
    margin-top: 10px;
    margin-left: 100px;
    font-family: "Sharp Sans No1";
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
}

header .item .box .text-left button {
    width: 120px;
    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
    border: 1px solid black;
    background-color: rgba(24, 190, 24, 0.926);
    border-radius: 25px;
}

header .item .box .text-left button a {
    color: white;
    font-weight: 400;
    font-family: "ROBOTO";
    align-items: center;
}

header .h2 {
    margin-top: 90px;
    text-align: center;
}

header .h2 h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 50px;
    line-height: 67px;
}

header .h2 p {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 24px;
    color: gray;
    line-height: 30px;
}

header .images img {
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
}

header .images .imgs {
    display: flex;
    justify-content: space-between;
}

header .images .imgs .text {
    margin-left: 180px;
    margin-right: 100px;
    margin-top: 40px;
}

header .images .imgs .text h2 {
    font-family: "Sharp Sans No1";
    font-weight: 550;
    font-size: 28px;
    line-height: 35px;
    align-items: center;
    margin-top: 40px;
    margin-right: 50px;
    color: black;
}

header .images .imgs .p {
    margin-left: 160px;
    margin-right: 100px;
    margin-top: 40px;
}

header .images .imgs .p p {
    font-family: "Sharp Sans No1";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: black;
}

header .numbers {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

header .numbers .number {
    display: flex;
    justify-content: space-between;
}

header .numbers .number h3 {
    font-family: "Sharp Sans No1";
    font-weight: 780;
    font-size: 44px;
    line-height: 55px;
}

header .numbers .p1 {
    margin-top: 40px;
    margin-left: -40px;
    margin-right: -40px;
}

header .numbers .p1 .p {
    display: flex;
    justify-content: space-between;
}

header .numbers .p1 .p p {
    font-family: "Sharp Sans No1";
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
}

section .brands {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 150px;
}

section .brands .brand {
    display: flex;
    justify-content: space-between;
}

section .brands .brand .images {
    display: flex;
    margin-left: -100px;
}

section .brands .brand .images .imgs {
    margin-left: 420px;
    margin-top: -50px;
}

section .brands .brand .images .imgs .img2 {
    margin-top: 20px;
}

section .brands .brand .images img {
    margin-left: 30px;
}

section .brands .brand .text {
    margin-left: 50px;
}

section .brands .brand .text h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 54px;
    line-height: 67px;
    margin-top: 100px;
}

section .brands .brand .text p {
    width: 400px;
    height: 238px;
    font-family: "Sharp Sans No1";
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    margin-top: 10px;
}

section .brands .brand .text button {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(11, 131, 11, 0.775);
    margin-top: 60px;
    border-radius: 12px;
}

section .brands .brand .text button a {
    color: white;
}

section .brands1 .brand1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .brands1 {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

section .brands1 .brand1 .text p {
    width: 500px;
    height: 170px;
    font-family: "Sharp Sans No1";
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin-top: 20px;
}

section .brands1 .brand1 .text h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 54px;
    line-height: 67px;
}

section .brands1 .brand1 .text button {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background-color: rgba(11, 131, 11, 0.775);
    margin-top: 20px;
    border-radius: 12px;
}

section .brands1 .brand1 .text button a {
    color: white;
}

section .brands2 {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

section .brands2 .brand2 {
    display: flex;
    justify-content: space-between;
}

section .brands2 .brand2 .text {
    margin-top: 150px;
}

section .brands2 .brand2 .text h2 {
    width: 366px;
    height: 136px;
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 54px;
    line-height: 67px;
    color: #151414;
}

section .brands2 .brand2 .text p {
    width: 530px;
    height: 170px;
    font-family: "Sharp Sans No1";
    font-weight: 400;
    font-size: 22px;
    color: black;
    line-height: 34px;
}

section .brands2 .brand2 .text h3 {
    width: 274px;
    height: 25px;
    font-family: "Sharp Sans No1";
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}

section .foods {
    margin-top: 150px;
}

section .foods .h2 {
    text-align: center;
}

section .foods .h2 h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 54px;
    line-height: 67px;
    color: black;
}

section .foods .h2 p {
    font-family: "Sharp Sans No1";
    font-weight: 750;
    font-size: 25.5px;
    line-height: 30px;
    color: gray;
    margin-top: 10px;
}

section .food {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}

section .food .images {
    display: flex;
    justify-content: space-between;
}

section .food .images .img {
    border: 1px solid gray;
    padding: 20px 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 1px 1px gray;
}

section .food .images .text h2 {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 10px;
}

section .food .images .text h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 30px;
    line-height: 37px;
}

section .food .images .text p {
    width: 293px;
    height: 84px;
    font-family: "Sharp Sans No1";
    font-weight: 750;
    font-size: 18px;
    line-height: 28px;
    margin-right: 40px;
    margin-top: 30px;
    color: gray;
}

section .foods button {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 770px;
    background-color: rgba(11, 131, 11, 0.775);
}

section .foods button a {
    color: white;
}

aside .h2 {
    margin-top: 140px;
    text-align: center;
}

aside .h2 h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    line-height: 45px;
    font-size: 38px;
}

aside .h2 p {
    font-family: "Sharp Sans No1";
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: gray;
    margin-top: 10px;
}

aside .href {
    margin-top: 90px;
    text-align: center;
}

aside .href input {
    width: 300px;
    height: 60px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 20px;
    font-family: "Sharp Sans No1";
    font-weight: 750;
    font-size: 18px;
    background-color: #F5F5F5;
}

aside .href button {
    width: 140px;
    height: 60px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(11, 131, 11, 0.775);
    margin-left: 10px;
}

aside .href button a {
    color: white;
    font-family: "Sofia Pro";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

footer .texts {
    margin-top: 200px;
    margin-left: 120px;
    margin-right: 120px;
}

footer .texts .text {
    position: relative;
    display: flex;
    justify-content: space-between;
}

footer .texts .text h2 {
    font-family: "Sharp Sans No1";
    font-weight: 770;
    font-size: 22px;
    line-height: 27px;
}

footer .good .text {
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 50px;
}

footer .good {
    display: flex;
}

footer .good .text p {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
}

footer .good .texts1 {
    position: absolute;
    display: flex;
    margin-top: 40px;
}

footer .good .texts1 h3 {
    margin-left: 440px;
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
}

footer .good .texts1 h4 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 225px;
}

footer .good .texts1 h5 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 240px;
}

footer .good .texts1 h6 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 250px;
}

footer .good .texts2 {
    position: absolute;
    display: flex;
    margin-top: 70px;
}

footer .good .texts2 h3 {
    margin-left: 440px;
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
}

footer .good .texts2 h4 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 255px;
}

footer .good .texts2 h5 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 245px;
}

footer .good .texts2 h6 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 275px;
}

footer .good .texts3 {
    position: absolute;
    display: flex;
    margin-top: 100px;
}

footer .good .texts3 h3 {
    margin-left: 440px;
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
}

footer .good .texts3 h4 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 255px;
}

footer .good .texts3 h5 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 243px;
}

footer .good .texts3 h6 {
    font-family: "Sharp Sans No1";
    font-weight: 760;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-left: 235px;
}

footer .icon {
    margin-top: 20px;
    margin-left: 120px;
}

footer .icon i {
    margin-left: 10px;
}